table {
    border-collapse: collapse;
    //border-spacing: 2px;
    //background-color: $tableBgColor;
    width: 100%;
    text-align: center;
}

tr > th:first-child,
tr > td:first-child {
    font-weight: 600;
    text-align: left;
}

tbody > tr:first-child th {
    font-weight: 600;
}

table, thead, tfoot, tbody, tr, th, td {
    border: 1px solid $tableBorderColor;
    padding: 5px;
}

// Widget Calendar
//table#wp-calendar {
//    text-align: center;
//
//    caption {
//        color: $themeColorTwo;
//    }
//
//    thead {
//        tr {
//            th {
//
//            }
//        }
//    }
//
//    tfoot {
//        tr {
//            td {
//
//            }
//        }
//    }
//
//    tbody {
//        tr {
//            td {
//
//            }
//
//            td#today {
//                background-color: $themeColorTwo;
//                color: $themeColorOne;
//            }
//        }
//    }
//}


.packages-table {
    th, td {
        border: 1px solid #e7e7e7;
    }

    th, td {
        &,
        &:first-child,
        &:last-child {
            padding: 30px 25px;
            letter-spacing: 1px;
            text-align: center;
            color: #000;
            font-family: 'Bebas Neue', sans-serif;
            font-weight: lighter;
        }
    }

    th {
        &,
        &:first-child,
        &:last-child {
            &.special {
                background-color: $themeColorFive;
                color: #fff;
            }
        }
    }

    td {
        &,
        &:first-child,
        &:last-child {
            font-family: "Roboto", sans-serif;
            &.special .button-medium {
                background: $themeColorFive;
            }
        }
    }

}