.menu {
    &-list {
        @extend %reset-list;
    }

    &-item {
        display: inline-block;
        vertical-align: middle;

        &-has-children {
            position: relative;
        }

        &:hover {
            > .sub-menu {
                display: block;
            }
        }

        &:hover,
        &-current,
        &.current-menu-ancestor {
            > .menu-link {
                color: #d77a61;
            }
        }
    }

    &-link {
        display: block;
        color: inherit;
        font-size: 22px;
        line-height: 1.5;
        text-transform: uppercase;
        transition: color .2s ease-in-out;
    }

    &-left {
        .menu-item {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }

    &-right {
        .menu-item {
            &:not(:first-child) {
                margin-left: 50px;
            }
        }

        .sub-menu {
            left: auto;
            right: 0;
            //text-align: right;

            .sub-menu {
                left: auto;
                right: 100%;
            }
        }
    }
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(#000, .15);
    padding: 5px 0;
    @extend %reset-list;

    .sub-menu {
        top: 0;
        left: 100%;
        padding: 0;
    }

    &-item {
        &-has-children {
            position: relative;
        }

        &:hover {
            > .sub-menu {
                display: block;
            }
        }

        &:hover,
        &-current,
        &.current-menu-ancestor {
            > .sub-menu-link {
                color: #d77a61;
            }
        }
    }

    &-link {
        display: block;
        padding: 8px 15px;
        font-size: 16px;
        line-height: 1.5;
        transition: color .2s ease-in-out;
    }
}


.nav {
    display: none;
    position: relative;
    margin: 10px 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    text-align: center;

    .menu {
        &,
        &-container {
            @extend %reset-list;
            font-size: 0;
        }

        &-item {
            display: inline-block;
            vertical-align: middle;
            padding: 5px;

            .menu-item-has-children-arrow {
                display: none;
            }

            &-close {
                cursor: pointer;
                position: relative;
                display: none;
                width: $menu-close-size;
                height: $menu-close-size;
                border: 0;
                background-color: transparent;
                -webkit-tap-highlight-color: transparent;
                touch-action: manipulation;

                &:focus {
                    outline: 0;
                    box-shadow: 0 0 0 4px rgba($menu-close-color, .2);
                }

                &::before,
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: $menu-close-color;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }
            }

            &-has-children {
                position: relative;

                &:hover {
                    &::after {

                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 21px;
                    right: 1px;
                    border: 5px solid #000;
                    border-color: #000 transparent transparent transparent;
                }
            }

            .no-touch &:hover,
            &-current,
            &.current-menu-parent,
            &.current-menu-ancestor {
                .menu-link {
                    text-decoration: none;
                }
            }

            .no-touch &:hover {
                > .sub-menu {
                    top: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &-link {
            display: block;
            padding: 8px 10px;
            color: #000;
            font-size: 16px;
            line-height: 1.3;
            text-align: center;
            text-transform: none;
            text-decoration: none;
            @extend %smooth_animation;
        }
    }

    .sub-menu {
        @extend %reset-list;
        position: absolute;
        top: 200%;
        left: 0;
        z-index: 33;
        width: 250px;
        background-color: #fff;
        visibility: hidden;
        text-align: left;
        opacity: 0;
        box-shadow: 0 5px 20px rgba(#000, .2);
        @extend %smooth_animation;

        &-item {
            .menu-item-has-children-arrow {
                display: none;
            }

            &-has-children {
                position: relative;

                &:hover {
                    &::after {
                        border-left-color: #fff;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 5px;
                    border: 5px solid #000;
                    border-color: transparent transparent transparent #000;
                    transition: border-color .3s ease-in-out;
                }
            }

            .no-touch &:hover,
            &-current {
                > .sub-menu-link {
                    background-color: $menuMobileSubMenuBGOnHover;
                    color: $menuFontColorActive;
                }
            }

            .no-touch &:hover {
                > .sub-menu {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &-link {
            display: block;
            padding: 9px 15px;
            color: #000;
            font-size: 14px;
            line-height: 1.3;
            text-decoration: none;
            @extend %smooth_animation;
        }

        .sub-menu {
            top: 0;
            left: 100%;
        }
    }
}

.hamburger {
    display: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    transition: .2s ease-out;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 4px rgba($hamburger-color, .2);
    }

    &,
    &[type="button"] {
        cursor: pointer;
        border: 0;
        padding: 9px 5px;
        background-color: transparent;
    }

    &-box {
        display: block;
        width: 30px;
        padding: 9px 0;
    }

    &-inner {
        position: relative;
        transition: background-color 0s ease-out $hamburger-delay;

        &,
        &::before,
        &::after {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $navHamburgerMobileColor;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            transition: bottom $hamburger-duration ease-out $hamburger-delay, top $hamburger-duration ease-out $hamburger-delay, transform $hamburger-duration ease-out;
        }

        &::before {
            bottom: $hamburger-offset;
        }

        &::after {
            top: $hamburger-offset;
        }
    }
}

.is-active {
    .hamburger-inner {
        background-color: transparent;

        &::before,
        &::after {
            transition: bottom $hamburger-duration ease-out, top $hamburger-duration ease-out, transform $hamburger-duration ease-out $hamburger-delay;
        }

        &::before {
            bottom: 0;
            transform: rotate(45deg);
        }

        &::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}
